<!DOCTYPE html>
<html ng-app="domainApp">
    <% include header %>
    <body id="manage-project">

	<!-- We define a variable projectCurrent to contain the projectname -->
	<% var projName = projectname %>
	<% var errorFlag = errorflag %>
	
	<script> projectCurrent = "<%=projName%>";</script>

	<!-- Begin Header -->
	<header id="header">
	    <% include navbar %>
	</header>
	<!-- End Header -->
	<!-- Begin Main Content -->
	<div class="content" id="main-content">
	    <div class="container section">
		<!-- Check if the user is an owner of this project-->
		<% var ownerflag %>
		<% for (var i in ownersnames) { %>
		<% if (ownersnames[i].github_name || ownersnames[i].google_email) {
		    if ((ownersnames[i].github_name == username && username != null) || (ownersnames[i].google_email == user.google_email && user.google_email != null)) { 
			ownerflag=true;
		    } 
		}%>
		<% } %>
		<div class="row">
		    <div class="col-md-10 col-md-offset-1 section-title">
			<h1 class="no-margin">
			    <%= projectname %> 
			    <!-- If the project is private we set the label to private -->
			    <% if (privacylevel == 'PRIVATE') { %>
				<span class="private">private</span>
			    <% } %> 
			    <!-- If the project is public we set the label to public -->
			    <% if (privacylevel == 'PUBLIC') { %>
				<span class="public">public</span>
			    <% } %>
			</h1>
		    </div>
                </div>
		<div class="row">
		    <div class="col-md-10 col-md-offset-1 section-body clearfix">
			<div class="panel panel-default">
            		    <div class="panel-heading">
            			 <h4>Project's Details</h4>		
            		    </div>
			    <!-- We initialize the controller to get the already set domain and subdomain -->
			    <div class="panel-body ng-scope" ng-controller="domainController as domainCtrl" ng-init="domainCtrl.init()">
				<!-- If the user is owner-->
				<% if (ownerflag) { %>
				<!-- Privacy button to  change the project to either private or public-->
    				<h5>Privacy Level</h5>
    				<div class="btn-group">
    				    <button type="button" class="btn btn-default dropdown-toggle no-margin" data-toggle="dropdown" aria-expanded="false"><%= privacylevel %> <span class="caret"></span></button>
    				    <ul class="dropdown-menu" role="menu">
    					<!-- We create to different urls depending if we would like to set the privacy to private or public-->
					<% var privateProjectUrl="/changePrivacy?privacy_level=PRIVATE&project_name=" + projectname %>
					<% var publicProjectUrl="/changePrivacy?privacy_level=PUBLIC&project_name=" + projectname %>
					<% if (privacylevel == 'PRIVATE') { %> 
					<li><a href=<%=publicProjectUrl%>>PUBLIC</a></li>
					<% } if (privacylevel == 'PUBLIC') { %> 
					<li><a href=<%=privateProjectUrl%>>PRIVATE</a></li>
					<% } %>							   		    
    				    </ul>
    				</div>
				<span class="space-20"></span>
    				
				<!-- Domain select -->		
    				<h5>Domain</h5>
				<!-- We present all the domains using ui-select of Angularjs https://github.com/angular-ui/ui-select -->
				<ui-select ng-model="domainCtrl.projectDetails.domainset" theme="bootstrap" ng-disabled="disabled" ng-change="domainCtrl.subdomainJSON(domainCtrl.projectDetails.domainset)">
				    <!-- On the change we get the new subdomains according to the domain selected -->
				    <ui-select-match placeholder="Select domain for the list or search for a domain...">
					{{$select.selected.Category}}
				    </ui-select-match>
				    <ui-select-choices repeat="domain in domainCtrl.domains | filter: $select.search">
				        <div ng-bind-html="domain.Category | highlight: $select.search "></div>
				    </ui-select-choices>
			  	</ui-select>
                                
    				<span class="space-20"></span>

    				<!-- Subdomain select -->		
    			  	<h5>SubDomain</h5>
				<ui-select ng-model="domainCtrl.projectDetails.subdomainset" theme="bootstrap" ng-disabled="domainCtrl.subdomainsDisabled()" ng-change="domainCtrl.DomainSubdomainSelectSuccess=0">
				    <ui-select-match placeholder="Select subdomain for the list or search for a subdomain...">
					{{$select.selected.Category}}
				    </ui-select-match>
				    <!-- We create a variable for the current subdomain -->
				    <% var subDomain = subdomain_set %>
				    <script> subdomainCurrent = "<%= subDomain %>";</script>
		            	    <ui-select-choices repeat="subdomain in domainCtrl.subdomains | filter: $select.search" value=window.subdomainCurrent>
					<!-- We set the default value to the current subdomain -->
					<div ng-bind-html="subdomain.Category | highlight: $select.search "></div>
				    </ui-select-choices>
				</ui-select>
                                
    				<span class="space-20"></span>
    				
				<!-- Button to submit the domain and subdomain selection -->		
                                <div class="btn-group">
    				    <div>
    				        <fieldset class="form-group">
    				            <input type="submit" class="btn btn-danger pull-right" ng-click="domainCtrl.setDomainSubdomain(domainCtrl.projectDetails.domainset.Category,domainCtrl.projectDetails.subdomainset.Category)" value="Submit Changes">
    				      	</fieldset>
    				    </div>
    				</div>
				<!-- Message for successful submission of domains and subdomains -->
				<div ng-if="domainCtrl.DomainSubdomainSelectSuccess==1" class="alert alert-success" role="alert">Changes submitted successfully!</div>
				<!-- Message for unsuccessful submission of domains and subdomains -->
				<div ng-if="domainCtrl.DomainSubdomainSelectSuccess==2" class="alert alert-danger" role="alert">Changes failed to be submitted!</div>
				<% } %>
        		    </div>
			</div>

			<!-- Panel which will include the table with the owners -->
			<div class="panel panel-default">
        		    <div class="panel-heading">
        			<h4>Project's Owners</h4>
        		    </div>
        		    <div class="panel-body">
				<!-- If the user is an owner a form to add an owner will be displayed -->
				<% if (ownerflag) { %>
        			<form action="/addOwner" method="post" novalidate name="form" ng-class="{true: 'error'}[submitted && form.name.$invalid]">
    				    <fieldset>
    					<label for="name"></label>
    					<input type="hidden" id="project_name" name="project_name" value=<%= projectname %>>
    					<input type="text" id="name" name="name" ng-model="field" required placeholder="Enter the Owner's Github Name or Google e-mail Account" size="54">
    					<button type="submit" class="btn btn-danger">Add Owner</button>
    		        	    </fieldset>
				    <% if(errorFlag) { %>
					<% if(errorFlag == 10) { %>
					    <div class="alert alert-danger margin-top-10">You must enter a valid username or email.</div>
					<% } else if(errorFlag == 20) { %>
					    <div class="alert alert-danger margin-top-10">The provided username or email does not match to a S-CASE user.</div>
					<% } %>
				    <% } %>
    		    		</form>
				<% } %>	

    				<span class="space-20"></span>
    							
        			<!-- Table of Owners-->
                		<table class="table">
            			    <thead>
            				<tr>
                			    <th>#</th>
                			    <th>Github Username</th>
                			    <th>Google e-mail</th>
                			    <th></th>
            				</tr>
            			    </thead>
            			    <tbody>
					<% for (var i in ownersnames) { %>
            			        <tr>
            			            <td data-title="#"><%= i %></td>
            				    <td data-title="Github Username"><%= ownersnames[i].github_name %></td>
            				    <td data-title="Google e-mail"><%= ownersnames[i].google_email %></td>
					    <!-- Find if the current username attempting to display is the active user -->
					    <% var myOwnflag = false; %>
					    <% if (ownersnames[i].github_name || ownersnames[i].google_email) {
						if ((ownersnames[i].github_name == username && username != null) || (ownersnames[i].google_email == user.google_email && user.google_email != null)) { 
						    myOwnflag=true;
						} 
					    }%>
					    <!-- Display the "remove owner" option if only if the user is an owner of the project -->
					    <% if (ownerflag == true) { %>
					        <!-- Next to the user's name is going to have a button "Remove Myself" -->
					        <% if (myOwnflag == true) { %>
						    <% var removeOwnerurl="/removeOwner?owner_id="+ ownersnames[i].owner_id+"&project_name="+projectname+"&project_id="+ownersnames[i].project_id%>
						    <td><a href=<%= removeOwnerurl %> class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Remove Myself</a></td>
					        <% } else { %>
						    <% var removeOwnerurl="/removeOwner?owner_id="+ ownersnames[i].owner_id+"&project_name="+projectname+"&project_id="+ownersnames[i].project_id%>

						    <% if (ownersnames[i].google_email !== 'undefined' && ownersnames[i].google_email) { %>
						    <td><a href=<%= removeOwnerurl %> class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Remove <%= ownersnames[i].google_email %></a></td>
						    <% } %>

						    <% if ((ownersnames[i].google_email == 'undefined' || !ownersnames[i].google_email) && ownersnames[i].github_name) { %>
						    <td><a href=<%= removeOwnerurl %> class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Remove <%= ownersnames[i].github_name %></a></td>
						    <% } %>
					        <% } %>
					    <% } %>
            				</tr>
					<% } %>
            			   </tbody>
            		        </table>
        		    </div>
        		</div>

			<!-- Panel which will include the table with the collaborators -->
			<div class="panel panel-default">
        		    <div class="panel-heading">
        			<h4>Project's Collaborators</h4>
        		    </div>
        		    <div class="panel-body">
				<!-- Form to add a collaborator (displayed only if the user is an owner of the project) -->
				<% if (ownerflag) { %>
        			<form action="/addCollaborator" method="post" class=""> 
            			    <fieldset>
            				<label for="name"></label>
            				<input type="hidden" id="project_name" name="project_name" value="<%= projectname %>">
            				<input type="text" id="name" name="name" placeholder="Enter the Collaborator's Github Name or Google e-mail Account" size="54">
					<button type="submit" class="btn btn-danger">Add Collaborator</button>
                    		    </fieldset>
				    <% if(errorFlag) { %>
					<% if(errorFlag == 11) { %>
					    <div class="alert alert-danger margin-top-10">You must enter a valid username or email.</div>
					<% } else if(errorFlag == 21) { %>
					    <div class="alert alert-danger margin-top-10">The provided username or email does not match to a S-CASE user.</div>
					<% } %>
				    <% } %>
        			</form>
				<% } %>
        						
    				<span class="space-20"></span>
    							
    				<!-- Table of Collaborators -->
        			<table class="table">
            			    <thead>
            				<tr>
                			    <th>#</th>
                			    <th>Github username</th>
                			    <th>Google email</th>
                			    <th></th>
                			</tr>
            			    </thead>
            			    <tbody>
					<% for (var i in collaboratorsnames) { %>
            				<tr>
            			            <td data-title="#"><%= i %></td>
            				    <td data-title="Github Username"><%= collaboratorsnames[i].github_name %></td>
            				    <td data-title="Google e-mail"><%= collaboratorsnames[i].google_email %></td>
					    <% var myCollabflag = false; %>
					    <% if (collaboratorsnames[i].github_name || collaboratorsnames[i].google_email) {
						if ((collaboratorsnames[i].github_name == username && username != null) || (collaboratorsnames[i].google_email == user.google_email && user.google_email != null)) { 
						    myCollabflag=true;
						} 
					    }%>
					    <!-- If i am a collaborator, then display the option to remove myself -->
					    <% if (myCollabflag == true) { %>
					        <% var removeCollaburl="/removeCollab?collab_id="+ collaboratorsnames[i].collab_id+"&project_name="+projectname%>
						<td><a href=<%= removeCollaburl %> class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Remove Myself</a></td>
					    <% } else if (ownerflag) { %> 
					    <!-- If the user is an owner, display the option to remove collaborators -->
					        <% var removeCollaburl="/removeCollab?collab_id="+ collaboratorsnames[i].collab_id+"&project_name="+projectname%>

					        <% if (collaboratorsnames[i].google_email != 'undefined' && collaboratorsnames[i].google_email) { %>
						<td><a href=<%= removeCollaburl %> class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Remove <%= collaboratorsnames[i].google_email %></a></td>
					        <% } %>

					        <% if (!collaboratorsnames[i].google_email && collaboratorsnames[i].github_name) { %>
					        <td><a href=<%= removeCollaburl %> class="btn btn-danger btn-sm"><span class="fa fa-times"></span> Remove <%= collaboratorsnames[i].github_name %></a></td>
					        <% } %>
					    <% } %>
            				</tr>
					<% } %>
				    </tbody>
				</table>
        		    </div>
        		</div>
			<!-- If the user is an owner display the option to delete the project -->
			<% if (ownerflag) { %>
			    <% var deleteurl="/deleteprojects?project_name="+ projectname %>
				<a href=<%= deleteurl %> class="btn btn-danger"><span class="fa fa-times"></span> Delete Project</a>
			<% } %>
		    </div>
		</div>
		

				
	    </div>
	</div>
        <!-- End Main Content -->

        <% include footer %>

    </body>
</html>
