<!doctype html>
<html>
<% include header %>
<% include navbar %>
<body>

<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well">
				<div class="panel panel-default">
				  	<div class="panel-heading">
					  	<h3><span class="fa fa-github"></span> Projects Owned by <%= user.github_name %></h3>
					  	<!--form to create a Project-->
					  	<form action="/createProject" method="post"> 
							<fieldset>
								<input type="text" id="name" size="35" name="name" placeholder="Enter your project's name (not empty)" />
								<button type="submit" class="btn btn-success">Create project</button>
		    				</fieldset>
	    				</form>
    				</div>
				  	<!-- Table of the Projects I own-->
				  	<table class="table">
					   	<thead>
				          <tr>
				            <th>#</th>
				            <th>Project Name</th>
				            <th></th>
				            <th></th>
				          </tr>
				        </thead>
			        	<tbody>
				          	<% for (var i in projectnames) { %>
								<tr>
								<td><%= i%></td>
								<td><%= projectnames[i].project_name%></td>
								<!-- button to edit the project's details-->
								<% var manageurl="/manageprojects?project_name="+ projectnames[i].project_name%>
								 <td><a href=<%= manageurl %> class="btn btn-success btn-sm" style="color:white"><span class="fa fa-pencil"></span> Edit <%= projectnames[i].project_name%></a></td>
								<!-- button to delete the project -->
								<% var deleteurl="/deleteprojects?project_name="+ projectnames[i].project_name%>
								<td><a href=<%= deleteurl %> class="btn btn-danger btn-sm" style="color:white"><span class="fa fa-times"></span> Delete <%= projectnames[i].project_name%></a></td>
								</tr>
							<% } %>
			         </tbody>
				  </table>
				</div>
			</div>
		</div>
	</div>
	<div class="text-center">
		<p>For more info about S-CASE visit: <a href="http://www.scasefp7.eu">http://www.scasefp7.eu</a>.</p>
		<p> <a href="http://www.scasefp7.eu/news-blog/">S-CASE blog</a>.</p>
	</div>

</div>
<% include javascriptLoad %>
</body>
</html>