<!doctype html>
<html ng-app="domainApp">
<% include header %>
<% include navbar %>
<body>
<% var projName = projectname %>
<script> projectCurrent = "<%=projName%>";</script>
<div class="container">
	<div class="row">
		<div class="col-sm-8 col-sm-offset-2">
			<div class="well well-lg">
				<!--<h3 class="text-primary"><span class="fa fa-github"></span> Github</h3>-->
				<!--<h3 class="btn btn-default btn-lg btn-block">Project Panel of: <%=projectname%><br></h3>-->
				<!-- check if the user is an owner of this project-->
				<% var ownerflag %>
				<% for (var i in ownersnames) { %>
						<% if (ownersnames[i].github_name||ownersnames[i].google_email) {
								 if ((ownersnames[i].github_name==username&&username!=null)||(ownersnames[i].google_email==user.google_email&&user.google_email!=null)) { 
												ownerflag=true;
								} 
							}%>
				<% } %>
				<% if (privacylevel=='private') { %>
					<div class="panel panel-danger">
				<%}%> 
				<% if (privacylevel=='public') { %>
					<div class="panel panel-success">
				<%}%> 
				
					<div class="panel-heading">
					    <% if (privacylevel=='private') { %> 
					  	<h1 class="panel-title"><i class="fa fa-user-secret">Private Project: <%=projectname%></i></h1>
					  	<% } if (privacylevel=='public') { %> 
					    <h1 class="panel-title"><i class="fa fa-cloud">Public Project: <%=projectname%></i></h1>
					    <% } %>	
				  	</div>
				  	<div class="panel-body" ng-controller="domainController as domainCtrl" ng-init="domainCtrl.init()">
						<% if (ownerflag) { %>
							<!-- Privacy button -->
							<div class="btn-group">
							  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
							    Privacy Level: <%= privacylevel %> <span class="caret"></span>
							  </button>
							  <ul class="dropdown-menu" role="menu" col-sm-12>
							  	<% var privateProjectUrl="/changePrivacy?privacy_level=private&project_name="+projectname%>
							  	<% var publicProjectUrl="/changePrivacy?privacy_level=public&project_name="+projectname%>
							  	<% if (privacylevel=='private') { %> 
							  	<li><a href=<%=publicProjectUrl%>>Public</a></li>
							  	<% } if (privacylevel=='public') { %> 
							    <li><a href=<%=privateProjectUrl%>>Private</a></li>
							    <% } %>							    
							  </ul>
							</div>
							<!-- domain button -->
							<h4>Domain</h4>
							<ui-select ng-model="domainCtrl.projectDetails.domainset" theme="bootstrap" ng-disabled="disabled" style="min-width: 300px;" ng-change="domainCtrl.subdomainJSON(domainCtrl.projectDetails.domainset)">
						    	<ui-select-match placeholder="Select domain for the list or search for a domain...">{{$select.selected.Category}}</ui-select-match>
							    <ui-select-choices repeat="domain in domainCtrl.domains | filter: $select.search">
						      	<div ng-bind-html="domain.Category | highlight: $select.search "></div>
							    </ui-select-choices>
			  				</ui-select>
			  				<h4>SubDomain</h4>
			  				<ui-select ng-model="domainCtrl.projectDetails.subdomainset" theme="bootstrap" ng-disabled="domainCtrl.subdomainsDisabled()" style="min-width: 300px;">
							    <ui-select-match placeholder="Select subdomain for the list or search for a subdomain...">{{$select.selected.Category}}</ui-select-match>
							    <% var subDomain = subdomain_set %>
		            	    	<script> subdomainCurrent = "<%=subDomain%>";</script>
							    <ui-select-choices repeat="subdomain in domainCtrl.subdomains | filter: $select.search" value=window.subdomainCurrent>
						      	<div ng-bind-html="subdomain.Category | highlight: $select.search "></div>
							    </ui-select-choices>
						  	</ui-select>
						  	<div class="btn-group">
							  	<div>
				            	    <fieldset class="form-group">
				            	    	
				        			    <input type="submit" class="btn btn-primary pull-right" ng-click="domainCtrl.setDomainSubdomain(domainCtrl.projectDetails.domainset.Category,domainCtrl.projectDetails.subdomainset.Category)" value="Submit Domain (SubDomains) selection(s)" />
				      			    </fieldset>
				      			</div>
							</div>
						<% } %>
							
			  		</div>
				</div>
				
				
				<!-- panel which will include the table with the owners-->
				<div class="panel panel-default">
					<!-- panel's heading that includes a form to add an owner if you are owner of the project-->
				  	<div class="panel-heading">
				  		<h3><span class="fa fa-users"></span>Owners</h3>
				  		<!-- if the user is an owner a form to add an owner will be displayed -->
					  	<% if (ownerflag) { %>
					  		<div class="alert alert-danger" role="alert">if every owner is removed, the project is deleted!</div>
							<p><form action="/addOwner" method="post"> 
								<fieldset>
									<label for="name"></label>
									<input type="hidden" id="project_name" name="project_name" value=<%= projectname%>>
									<input type="text" id="name" name="name" size="50" placeholder="Enter the Owner's Github name or Google e-mail Account"/>
									<button type="submit" class="btn btn-success">Add Owner</button>
		        				</fieldset>
		    				</form>
		    				</p>
						<% } %>
					</div>
				  <!-- Table of Owners-->
				  <table class="table">
				  	<!-- heading of the table-->
				   	<thead>
			          <tr>
			            <th style="width:10px">#</th>
			            <th style="width:130px">Github Username</th>
			            <th style="width:160px">Google e-mail</th>
			            <th style="width:160px"></th>
			          </tr>
			        </thead>
			        <tbody>
						<% for (var i in ownersnames) { %>
							<tr>
								<td style="width:10px"><%= i%></td>
								<td style="width:130px"><%=ownersnames[i].github_name%></td>
								<td style="width:160px"><%=ownersnames[i].google_email%></td>
								<!-- find if the current username attempting to display is the active user-->
								<% var myOwnflag = false;%>
								<% if (ownersnames[i].github_name||ownersnames[i].google_email) {
									 if ((ownersnames[i].github_name==username&&username!=null)||(ownersnames[i].google_email==user.google_email&&user.google_email!=null)) { 
													myOwnflag=true;
									} 
								}%>
								<!-- display the "remove owner" option if only if the user is an owner of the project-->
								<% if (ownerflag==true) { %>
									<!-- next to the user's name is going to have a button "Remove Myself" -->
									<% if (myOwnflag==true) { %>
										<% var removeOwnerurl="/removeOwner?owner_id="+ ownersnames[i].owner_id+"&project_name="+projectname+"&project_id="+ownersnames[i].project_id%>
										<td style="width:160px"><a href=<%= removeOwnerurl %> class="btn btn-warning btn-sm"><span class="fa fa-times"></span> Remove Myself</a></td>
									<% } %>
									<!-- next to the other users' name is going to have a button "Remove <Username>" -->
									<% if (myOwnflag==false) { %>
										<% var removeOwnerurl="/removeOwner?owner_id="+ ownersnames[i].owner_id+"&project_name="+projectname+"&project_id="+ownersnames[i].project_id%>

										<% if (ownersnames[i].google_email!='undefined') { %>
											<td style="width:160px"><a href=<%= removeOwnerurl %> class="btn btn-warning btn-sm"><span class="fa fa-times"></span> Remove <%= ownersnames[i].google_email%></a></td>
										<% } %>

										<% if (!ownersnames[i].google_email=='undefined'&&ownersnames[i].github_name) { %>
											<td style="width:160px"><a href=<%= removeOwnerurl %> class="btn btn-warning btn-sm"><span class="fa fa-times"></span> Remove <%= ownersnames[i].github_name%></a></td>
										<% } %>
									<% } %>
								<% } %>
							</tr>	
						<% } %>
					 </tbody>
				  </table>
				</div>
				<div class="panel panel-default">
				  	<div class="panel-heading">
				  		<h3><span class="fa fa-users"></span> Collaborators</h3>
				  		<!--form to add a collaborator (displayed only if the user is an owner of the project)-->
					  	<% if (ownerflag) { %>
							<p>
								<form action="/addCollaborator" method="post"> 
								<fieldset>
									<label for="name"></label>
									<input type="hidden" id="project_name" name="project_name" value=<%= projectname%>>
									<input type="text" id="name" name="name" size="60" placeholder="Enter the Collaborator's Github name or Google e-mail Account"/>
									<button type="submit" class="btn btn-success">Add Collaborator</button>
		        				</fieldset>
	    						</form>
		    				</p>
						<% } %>
					</div>
				  	<!-- Table of Collaborators-->
				  	<table class="table">
					   	<thead>
				          <tr>
				            <th style="width:10px">#</th>
				            <th style="width:130px">Github username</th>
				            <th style="width:160px">Google email</th>
				            <th style="width:160px"></th>
				          </tr>
				        </thead>
				        <tbody>
							<% for (var i in collaboratorsnames) { %>
								<tr>
									<td style="width:10px"><%= i%></td>
									<td style="width:130px"><%=collaboratorsnames[i].github_name%></td>
									<td style="width:160px"><%=collaboratorsnames[i].google_email%></td>
									<% var myCollabflag = false;%>
									<% if (collaboratorsnames[i].github_name||collaboratorsnames[i].google_email) {
									 	if ((collaboratorsnames[i].github_name==username&&username!=null)||(collaboratorsnames[i].google_email==user.google_email&&user.google_email!=null)) { 
													myCollabflag=true;
										} 
									}%>
									<!-- If i am a collaborator, then display the option to remove myself-->
									<% if (myCollabflag==true) { %>
										<% var removeCollaburl="/removeCollab?collab_id="+ collaboratorsnames[i].collab_id+"&project_name="+projectname%>
										<td style="width:160px"><a href=<%= removeCollaburl %> class="btn btn-warning btn-sm"><span class="fa fa-times"></span> Remove Myself</a></td>
									<% } %>
									<!-- if the user is an owner, display the option to remove collaborators-->
									<% if (ownerflag) { %>
										<% var removeCollaburl="/removeCollab?collab_id="+ collaboratorsnames[i].collab_id+"&project_name="+projectname%>

										<% if (collaboratorsnames[i].google_email!='undefined') { %>
											<td style="width:160px"><a href=<%= removeCollaburl %> class="btn btn-warning btn-sm"><span class="fa fa-times"></span> Remove <%= collaboratorsnames[i].google_email%></a></td>
										<% } %>

										<% if (collaboratorsnames[i].google_email=='undefined'&&collaboratorsnames[i].github_name) { %>
											<td style="width:160px"><a href=<%= removeCollaburl %> class="btn btn-warning btn-sm"><span class="fa fa-times"></span> Remove <%= collaboratorsnames[i].github_name%></a></td>
										<% } %>
										
									<% } %>
								</tr>	
							<% } %>
					 	</tbody>
				  	</table>
				</div>
				<!-- if the user is an owner display the option to delete the project-->
				<% if (ownerflag) { %>
					<% var deleteurl="/deleteprojects?project_name="+ projectname%>
					<br><p> <a href=<%= deleteurl %> class="btn btn-danger btn-lg"><span class="fa fa-times"></span> Delete <%= projectname%></a><br></p>
				<% } %>
			</div>
		</div>
	</div>
	<div class="text-center">
		<p>For more info about S-CASE visit: <a href="http://www.scasefp7.eu">http://www.scasefp7.eu</a>.</p>
		<p> <a href="http://www.scasefp7.eu/news-blog/">S-CASE blog</a>.</p>
	</div>

</div>
<% include javascriptLoad %>
</body>
</html>